$color: red;

h1{
  color: $color;
  text-align: center;
}

.ta1 { 
      border: 1px solid black; }

table { @extend .ta1;
  border-collapse: collapse;
  width: 100%;
}


th { @extend .ta1;
  height: 50px;
  background-color: white;
  color: $color;
}

td{
	@extend .ta1;
	height: 30px;
}

th,td{
  text-align: left;
  padding: 15px;
}

#r1{
	font-family: Georgia
}

.c1{
  background-color: red; 
}
.c2{
  background-color: yellow; 
}
.c3{
  background-color: green; 
}

@media (min-width:1000px)
{
  body{
  background-color: #D3D3D3;
  }
 #t1::before{
  content: " Top 3 Richest Football Players";
  }
  }
@media (max-width:999px)
{
  body{
  background-color: lightblue;
  }
  #t1::before{
  content: "Richest ";
  }
}

a:link{
  color:green;
}

a:visited{
  color:red;
}
a:hover{
  color:blue;
}
a:active {
  color: blue;
}

tr{
  font-size:24px;
  .c1{
 font-style: italic;
  }
  .c2, .c3{
  font-style: bold;
  }
}
